*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sony-logo{
    width: 100px;
    height: 50px;
    margin-right: 15px;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.jumbo{
    width: 100%;
    background-size: cover;
}
.banner_{
    background-size: cover;
    width: 350px;
    height: 150px;
}
.content_img{
    position:absolute;
    margin-left: 155px;
    font-size: 0.9rem;
}
.text_jumbo{
    color: white;
}
.btn{
    border-radius: 20px;
}
.btn:hover{
    border: solid 1px white;
    outline: 1px solid red;
}
.preview_info .btn{
    margin-top: 40px;
}
.games img{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding:2px;
}

.games_section img:hover{
    margin-top: 5px;
    border: solid 1px white;
    outline: 1px solid red;

}
.ps_5{
    width: 100px;
}
.border_ps{
    width: 200px;
    border-bottom: 3px solid greenyellow;
}
.new_games img{
    width: 100%;
    border-radius: 20px;
}
.ps4 img{
    width: 100%; 
}
.ps4_container{
    background-color: rgb(167, 167, 167);
}
.ps4_container p{
    color: black;
}
.ps4_container img{
    width: 100%;
    height: 100%;
}
.ps_plus_button{
    opacity: 0.4;
}
.ps_plus_button span{
    color: blue;
}
.sconti img{
    width: 100%;
    padding: 10px;
}
.container_now{
    background-color:rgb(0, 0, 71) ;
}
.container_now{
    color: white;
}
.container_now img{
    width: 100%;
    height: 100%;

}
.social img{
    width: 100%;
}
footer{
    background-color: rgb(72, 72, 204);
    color: white;
}
.footer img{
    width: 100%;
}
.globe img{
    width: 20%;
}
.links p a{
    text-decoration: none;
    color:white
}